* {
box-sizing: border-box;
margin:0px;
padding:0px
}
.header {
    display: flex;
    padding:52px;
    justify-content: flex-start;
    flex-direction:column;
    background-color:gray;
}

.h3 {
    display: flex;

}
.img {
    width: 200px;
    display:flex;
    justify-content: flex-start;
}
.header-links {
    display:flex;
    justify-content: flex-end;
    gap:25px;
    margin-top:5px;
}
a {
    color:red;
    list-style-type: none;
}

.header-left  {
    display:flex;
    flex-direction: column;
    width:250px;
}
.header-right {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

button {
    width: 75px;
}



.content {
    display: flex;
    flex-direction:column;
}

.card {
    display:flex;
    margin:52px;
    gap:75px;
    width:100px;
    justify-content: space-between;
}


img {
    display: flex;
    align-items: space-between;
}