* {
box-sizing: border-box;
margin:0px;
padding:0px
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    display: flex;
    padding:52px;
    justify-content: flex-start;
    flex-direction:column;
    background-color:rgb(78, 12, 12);
    flex-wrap: wrap;
}
.logo {
    color:white;
    font-size:32px;
    display: flex;
    align-items: flex-start;
    margin-top: -20px;
}

.top {
    display: flex;
    justify-content: center;
    gap: 250px;
}

.h3 {
    display: flex;

}

.header-links {
    display:flex;
    justify-content: flex-end;
    gap:15px;
    margin-bottom:50px;
    margin-top:-20px;
}
a {
    color:red;
    list-style-type: none;
}

.header-left  {
    display:flex;
    flex-direction: column;
    width:50px;
    /* flex: 1 0 50px; */
}
.left-text {
    width:250px;
    padding: 25px;
    color:rgb(255, 240, 249);
}

.header-right {
    width: 300px;
    padding:25px;
    margin-right:52px;
} 

button {
    width: 75px;
}



.container {
    display: flex;
    flex-direction:column;
    margin:150px;
    justify-content: center;
    align-content:space-between;
}

h3 {
    display: flex;
    color:purple;
    justify-content: center;
    align-items: space-evenly;
}

.card {
    display:flex;
    margin:52px;
    gap:75px;
    
    
    align-content: space-between;
    list-style-type: none;
    text-align: center;
}
.card li {
    color: red;
    font-size: 12px;
}



.card img {
    display: flex;
    align-items: space-between;
    margin-bottom:25px;
    padding:12px;
    border: 5px solid lightpink;
    border-radius: 5px;
}

.middle-text {
    background-color: lightgray;
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.quote {
width:300px;
}
.quote-credit {
    display: flex;
    justify-content: flex-end;
}

.action {
    background-color: blue;
    margin: 50px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding: 20px;
    background-color: rgb(78, 12, 12);
    color: rgb(236, 223, 223);
}